version: '3.7'
services:
  redis:
    image: redis:alpine
    command:
      - redis-server
    restart: on-failure
    environment:
      - REDIS_HOST=redis
    ports:
      - "6379:6379"
  bot:
    build: .
    command: sh -c "python -m main"
    env_file:
      - ./.env
    restart: always
    depends_on:
      - redis